<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    hello world with ejs
    <div>
      <img
        class="main-image"
        src="/images/naruhina__first_new_year_shrine_visit_pg1_by_bluedragonfan-d8djrlv.png"
        alt="aa"
      />
    </div>
  </body>
</html>
